
<div class="background">
    <h1 id=heading> Hello, Chef</h1>
  </div>
    <div class="transbox">
        <h3> Create. Share. Enjoy. </h3>
         <p>
             <%=link_to 'Home', contoller: 'home_page' %> 
            <%=link_to 'Create Recipe', new_recipe_path %>
             <%=link_to 'Recipes', controller: 'recipes' %>
              </p>
       
  </div>
