<h1>Hello, Chef!</h1>

<body>
<div class="background">
    <h1 id=heading>Recipe Finder</h1>
  </div>

    <div class="transbox">
         <p>
            <%=link_to 'Create Recipe', new_recipe_path %>
        </p>
        <table>
            
            <tr>
                <th>Title:</th><br>
                <th>Description:</th>
            </tr>
            
            <% Recipe.all.each do |recipe| %>
            <tr>
                <td><%= recipe.title %></td>
                <td><%= recipe.description %></td>
                <td><%= link_to 'Show', recipe_path(recipe) %></td> <br>
            </tr>
        </table>
        <% end %>
    </div>

</body>