 <p>
    <strong>Username:</strong>
    <%= comment.username %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
    <p>
      <%= link_to 'Report Comment', [comment.recipe, comment],
      method: :delete, 
      data: { confirm: 'Are you sure'} %>
  </p>