<div>
<h1 align="center">Recipe Finder</h1>
</div>

<div>
<h2>Description</h2>
   <p>
     <textarea data-max-words="200"> </textarea>
  </p>
  </div>
  
  <div> 
<h2>Instruction</h2>
  <p>
    <textarea> </textarea>
    </p>
   </div>
    
    <div> 
<h2>Ingredients </h2>
    <p>
    <textarea> </textarea>
  </p>
  </div>
  
  
<div class="Filter"> 
<h3>Filters</h3>
    <p>
        
        <form> 
            <fieldset>
                 <legend>Filter Options</legend>
                <input type="checkbox"> Vegetarian <br>
                <input type="checkbox"> Vegan <br>
                <input type="checkbox"> Gluten free <br>
                <input type="checkbox"> Breakfast <br>
                <input type="checkbox"> Lunch <br>
                <input type="checkbox"> Dinner <br>
                <input type="checkbox"> Snacks <br>
            </fieldset>
        </form>
        <button type="button"> Apply</button>
    </p>