// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


textarea{
    width: 60%;
    height: 100px;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #ffffff;
    resize: none;
}