// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type=text]{
    width: 50%;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    margin-left: 310px;
    resize: none;
}
textarea{
   margin-left: 250px;
    width: 60%;
    height: 200px;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    resize: none;
}
input[type=button], input[type=submit]{
    background-color: #AAAAAA;
    float: right;
    border: bold;
    color: black;
    padding: 16px 20px;
    text-decoration: none;
    cursor: pointer;
}

    ul {
    list-style-type: none;
    }
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  max-width: 300px;
  margin: left;
  text-align: center;
  background: rgba(0, .1, 0.6, .01);
   border-radius: 8px;
}

h2{
  margin-top: 0px;
  color: black;
  text-align: center;
  text-decoration: overline;
  font-family: Arial, sans-serif;
  text-shadow: 0px 0px;
  font-size: 20px;
  letter-spacing: 3px;
}
.column {
  float: left;
   width: 23%;
  padding: 0 10px;
}
@media screen and (max-width: 900px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
p{
  font-weight: bold; 
}
h4{
  font-size: 40px;
  color: black;
}